/* c:/wamp64/www/PriorityCare/public/css/local-fonts.css */

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2'); /* Assurez-vous d'avoir ce fichier */
    font-weight: 700; /* ou le poids correspondant */
    font-style: normal;
}